<article id="dashboard">
  <div class="page-header full-header dashboard-header">
    <div class="container">
      <ul class="nav underlined-tabs">
        <li class="<%= "active" if current_page == :index %>">
          <a href="/dashboard"><i class="fa fa-dashboard"></i> Activity Stream</a>
        </li>
        <li class="<%= "active" if current_page == :submissions %>">
          <a href="/dashboard/submissions"><i class="fa fa-graduation-cap"></i> Submissions</a>
        </li>
        <li class="<%= "active" if current_page == :nitpicks %>">
          <a href="/dashboard/nitpicks"><i class="fa fa-comments-o fa-lg"></i> Nitpicks</a>
        </li>
        <li class="<%= "active" if current_page == :teams %>">
          <a href="/dashboard/teams"><i class="fa fa-group"></i> Teams</a>
        </li>
      </ul>
      <h1 class="hidden-xs">Dashboard</h1>
      <div class="clearfix"></div>
    </div>
  </div>

  <%= yield_content :dashboard_content %>
</article>