<% content_for :dashboard_content do %>
  <div class="container">
    <h2>Teams</h2>
    <% if profile.has_teams? %>
      <ul class="nav nav-stacked nav-bordered">
        <% profile.teams.each do |team| %>
          <li>
            <% if team.unconfirmed_members.include?(profile.user) %>
              <ul class="list-inline">
                <li style="padding-left: 0;"><%= team.name %></li>
                <li>
                  <form action="<%= "/teams/#{team.slug}/confirm" %>" method="post">
                    <input type="hidden" name="_method" value="put" />
                    <input type="submit" name="update" value="Accept invitation" class="btn btn-xs btn-success"/>
                  </form>
                </li>
                <li>
                  <form action="<%= "/teams/#{team.slug}/leave" %>" method="post">
                    <input type="hidden" name="_method" value="put" />
                    <input type="submit" name="update" value="Decline" class="btn btn-xs btn-danger"/>
                  </form>
                </li>
              </ul>
            <% else %>
              <a href="/teams/<%= team.slug %>"><%= team.name %></a>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <p>Create a <a href="/teams">new team</a>.</p>
  </div>
<% end %>

<%= erb :"dashboard/dashboard", locals: { current_page: :teams } %>